
        .loaded .paged-element-visible {
            transition: opacity .5s;
        }
        .loaded .paged-element.paged-element-hidden {
            display: inherit;
            opacity: 0;
            position: absolute;
            top:-10000px;
            transition: opacity .5s, top 0s .5s;
        }
        
        .text-element.paged-element.paged-element-visible {
            transition: left .5s;
        }
        .text-element.paged-element.paged-element-hidden {
            transition: left .5s, top 0s .5s;
            display: inherit;
            position: absolute;
            left: -1000px;
        }
        
        .notice:before {
            position: absolute;
            top: -20px;
            left: 0;
            width: 0;
            height: 0;
            border-color: transparent #7f8c8d #7f8c8d transparent;
            border-style: solid;
            border-width: 10px;
            content: "";
        }
    
    /* for firefox */
.paged-element-hidden.animated{
    animation-name: none !important;
}
/* */
 .link menu {
    background-color:#99999;
    transition: all 0.5s ease-out;
}
.link-menu:hover,
.link-menu.page-link-active {
    background-color: #5eb0f9;
    transition: all 0.1s ease-in;
}

canvas {
    position:absolute;
    margin-left : 50%;
    left: -150px;
}
    
        .body-initial {
            background-color: rgba(25,25,25,0.9725490196078431); 
            background-image: url('../assets/c7-background-wf-ghost3.jpg'); 
            background-position: center center; 
            background-attachment: fixed; 
            background-size: cover; 
            background-repeat: no-repeat; 
        }
        .silex-id-1484694513764-7 {
            min-height: 156px; 
            top: 100px; 
            left: NaNpx; 
        }
        .silex-id-1484694513764-6 {
            min-height: 156px; 
            background-color: rgba(38,38,38,0.7764705882352941); 
            top: 0px; 
            left: 0px; 
            width: 960px; 
            border-width: 2px 2px 2px 2px ; 
            border-style: solid; 
        }
        .silex-id-1484694847072-11 {
            min-height: 200px; 
            width: 530px; 
            top: -22px; 
            left: 425px; 
        }
        .silex-id-1484694494094-5 {
            min-height: 140px; 
            width: 395px; 
            top: -25px; 
            left: -26px; 
        }
        .silex-id-1484695138735-12 {
            min-height: 65px; 
            width: 805px; 
            top: 107px; 
            left: 84px; 
        }
        .silex-id-1484713959308-5 {
            min-height: 84px; 
            width: 236px; 
            top: 19px; 
            left: 550px; 
        }
        .silex-id-1484713981534-6 {
            min-height: 84px; 
            width: 236px; 
            top: 19px; 
            left: 550px; 
        }
        .silex-id-1484714014334-7 {
            min-height: 73px; 
            width: 213px; 
            top: 27px; 
            left: 550px; 
        }
        .silex-id-1484694761251-9 {
            width: 216px; 
            top: 5px; 
            left: 729px; 
            padding: 5px; 
            min-height: 61px; 
            background-position: center center; 
            background-repeat: no-repeat; 
            background-size: cover; 
            background-color: transparent; 
            text-shadow: 2px 3px #000000; 
        }
        .silex-id-1484886452837-1 {
            width: 265px; 
            top: 71px; 
            left: 335px; 
            padding: 5px; 
            color: white; 
            min-height: 20px; 
            background-color: transparent; 
            background-attachment: fixed; 
            background-size: cover; 
            text-shadow: 1px 1px 2px black, 0 0 5px white, 0 0 10px black; 
        }
        .silex-id-1484931914697-2 {
            width: 350px; 
            top: 39px; 
            left: 294px; 
            padding: 5px; 
            min-height: 20px; 
            background-position: center center; 
            background-repeat: no-repeat; 
            background-size: cover; 
            background-color: transparent; 
            text-shadow: 2px 3px #000000; 
        }
        .silex-id-1484931813740-1 {
            width: 300px; 
            top: 8px; 
            left: 318px; 
            padding: 5px; 
            min-height: 20px; 
            background-position: center center; 
            background-repeat: no-repeat; 
            background-size: cover; 
            background-color: transparent; 
            text-shadow: 2px 3px #000000; 
        }
        .silex-id-1474394621033-3 {
            min-height: 771px; 
            top: 156px; 
            left: 0px; 
        }
        .silex-id-1474394621032-2 {
            min-height: 771px; 
            background-color: rgba(38,38,38,0.7764705882352941); 
            top: 0px; 
            left: 0px; 
            width: 960px; 
            border-width: 2px 2px 2px 2px ; 
            border-style: solid; 
        }
        .silex-id-1484713493273-4 {
            min-height: 30px; 
            width: 150px; 
            top: 8px; 
            left: 26px; 
        }
        .silex-id-1484713455061-1 {
            min-height: 30px; 
            width: 105px; 
            top: 8px; 
            left: 191px; 
            background-position: center center; 
            background-size: cover; 
            background-repeat: no-repeat; 
        }
        .silex-id-1484713464106-2 {
            min-height: 30px; 
            width: 105px; 
            top: 8px; 
            left: 311px; 
        }
        .silex-id-1484713474842-3 {
            min-height: 30px; 
            width: 105px; 
            top: 8px; 
            left: 430px; 
        }
        .silex-id-1484881098920-3 {
            min-height: 302px; 
            width: 552px; 
            top: 89px; 
            left: 11px; 
        }
        .silex-id-1484880992455-1 {
            min-height: 302px; 
            width: 465px; 
            top: 89px; 
            left: 11px; 
        }
        .silex-id-1484881420229-8 {
            width: 449px; 
            top: 57px; 
            left: 476px; 
            padding: 10px; 
            min-height: 672px; 
            background-color: transparent; 
            background-repeat: no-repeat; 
            background-size: cover; 
            background-position: center center; 
        }
        .silex-id-1484934138271-3 {
            min-height: 30px; 
            width: 232px; 
            top: 8px; 
            left: 550px; 
        }
        .silex-id-1484935941919-7 {
            min-height: 302px; 
            width: 469px; 
            top: 89px; 
            left: 11px; 
        }
        .silex-id-1484936428776-8 {
            width: 450px; 
            top: 58px; 
            left: 20px; 
            min-height: 28px; 
            background-color: transparent; 
            text-shadow: 1px 1px 2px black, 0 0 5px, 0 0 5px white; 
        }
        .silex-id-1484936472467-9 {
            width: 450px; 
            top: 58px; 
            left: 20px; 
            min-height: 22px; 
            background-color: transparent; 
            text-shadow: 1px 1px 2px black, 0 0 5px, 0 0 5px white; 
        }
        .silex-id-1442914737143-3 {
            width: 450px; 
            top: 58px; 
            left: 20px; 
            min-height: 28px; 
            background-color: transparent; 
            text-shadow: 1px 1px 2px black, 0 0 5px, 0 0 5px white; 
        }
        .silex-id-1484713126784-0 {
            width: 905px; 
            top: 58px; 
            left: 6px; 
            padding: 10px; 
            min-height: 702px; 
            background-color: transparent; 
            background-repeat: no-repeat; 
            background-size: contain; 
            background-position: center center; 
            background-attachment: fixed; 
        }
        .silex-id-1485102969416-0 {
            min-height: 211px; 
            width: 445px; 
            top: 57px; 
            left: 476px; 
        }
        .silex-id-1485067775430-0 {
            min-height: 100px; 
            width: 296px; 
            top: 407px; 
            left: 549px; 
        }
        .silex-id-1485067817640-1 {
            min-height: 317px; 
            width: 445px; 
            top: 372px; 
            left: 63px; 
        }
        .silex-id-1485068004877-2 {
            width: 164px; 
            top: 273px; 
            left: 476px; 
            min-height: 20px; 
            text-shadow: 1px 1px 2px black, 0 0 5px, 0 0 5px white; 
        }
        .silex-id-1485103236088-1 {
            width: 163px; 
            top: 303px; 
            left: 476px; 
            min-height: 20px; 
            text-shadow: 1px 1px 2px black, 0 0 5px, 0 0 5px white; 
        }
        .silex-id-1474394605264-1 {
            min-height: 93px; 
            top: 100px; 
            left: 100px; 
        }
        .silex-id-1474394605263-0 {
            min-height: 93px; 
            background-color: rgba(38,38,38,0.7764705882352941); 
            border-width: 2px 2px 2px 2px ; 
            border-style: solid; 
            top: -3px; 
            left: 0px; 
            width: 960px; 
        }
    