
        .body-initial {
            background-color: rgba(255,255,255,1); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.body-initial {
            background-color: rgba(37,37,37,1); 
        }
        }.silex-id-1478366444112-1 {
            min-height: 106px; 
            top: 100px; 
            left: NaNpx; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1478366444112-1 {
            min-height: 169px; 
        }
        }.silex-id-1478366444112-0 {
            min-height: 106px; 
            background-color: rgba(39,39,39,1); 
            width: 1200px; 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center center; 
            top: 0px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1478366444112-0 {
            top: 0px; 
            left: 12px; 
            width: 438px; 
            min-height: 169px; 
            opacity: 0.85; 
        }
        }.silex-id-1481565092357-2 {
            min-height: 97px; 
            width: 410px; 
            top: 10px; 
            left: 4px; 
        }
        .silex-id-1474394621033-3 {
            min-height: 505px; 
            top: 5px; 
            left: 0px; 
        }
        .silex-id-1474394621032-2 {
            width: 1062px; 
            min-height: 505px; 
            background-color: rgba(39,39,39,1); 
            top: -1px; 
            left: 0px; 
            background-image: url('../assets/DynoBackgroundBlurred.jpg'); 
            background-size: cover; 
            background-attachment: fixed; 
        }
        .silex-id-1478366450713-3 {
            min-height: 100px; 
            top: 100px; 
            left: NaNpx; 
            background-color: transparent; 
        }
        .silex-id-1478366450713-2 {
            min-height: 100px; 
            background-color: transparent; 
            width: 1200px; 
        }
        .silex-id-1442914737143-3 {
            min-height: 53px; 
            width: 349px; 
            top: 29px; 
            left: 430px; 
        }
    