
        .loaded .paged-element-visible {
            transition: opacity .5s;
        }
        .loaded .paged-element.paged-element-hidden {
            display: inherit;
            opacity: 0;
            position: absolute;
            top:-10000px;
            transition: opacity .5s, top 0s .5s;
        }
    /* for firefox */
.paged-element-hidden.animated{
    animation-name: none !important;
}
/* */
    
        .body-initial {
            background-color: rgba(0,0,0,1); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.body-initial {
            background-color: rgba(0,0,0,1); 
        }
        }.silex-id-1474394621033-3 {
            min-height: 835px; 
            top: 106px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1474394621033-3 {
            min-height: 1518px; 
            top: 60px; 
            left: 0px; 
        }
        }.silex-id-1474394621032-2 {
            width: 100%; 
            top: 0px; 
            left: 0px; 
            background-color: rgba(39,39,39,1); 
            background-image: url('../assets/DynoBackgroundArtistic.jpg.png'); 
            background-size: cover; 
            background-attachment: fixed; 
            min-height: 835px; 
            background-repeat: no-repeat; 
            background-position: center center; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1474394621032-2 {
            width: 416px; 
            top: 0px; 
            left: 23px; 
            min-height: 1518px; 
            background-color: rgba(39,39,39,1); 
            background-size: cover; 
            background-attachment: fixed; 
        }
        }.silex-id-1481579870535-3 {
            width: 99%; 
            top: 6px; 
            left: 6px; 
            min-height: 617px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1481579870535-3 {
            top: 210px; 
            left: 10px; 
            width: 396px; 
            min-height: 1392px; 
        }
        }.silex-id-1481578243399-2 {
            width: 401px; 
            top: 8px; 
            left: 60%; 
            min-height: 104px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1481578243399-2 {
            left: 44px; 
            top: 1799px; 
            width: 385px; 
            min-height: 91px; 
        }
        }.silex-id-1481584423001-4 {
            min-height: 65px; 
            width: 581px; 
            top: 76px; 
            left: 4px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1481584423001-4 {
            top: 272px; 
            left: 10px; 
            width: 396px; 
            min-height: 63px; 
        }
        }.silex-id-1481566621330-6 {
            width: 89px; 
            top: 8px; 
            left: 3px; 
            min-height: 61px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1481566621330-6 {
            left: 350px; 
            top: 2859px; 
        }
        }.silex-id-1481566609608-5 {
            width: 89px; 
            top: 8px; 
            left: 94px; 
            min-height: 60px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1481566609608-5 {
            left: 246px; 
            top: 2754px; 
        }
        }.silex-id-1481566517094-4 {
            width: 89px; 
            top: 8px; 
            left: 185px; 
            min-height: 61px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1481566517094-4 {
            left: 350px; 
            top: 2723px; 
        }
        }.silex-id-1481588393482-0 {
            min-height: 76px; 
            width: 291px; 
            background-color: transparent; 
            top: 4px; 
            left: 278px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1481588393482-0 {
            width: 344px; 
            top: 215px; 
            left: 26px; 
            min-height: 76px; 
            background-color: transparent; 
        }
        }.silex-id-1481567566584-0 {
            width: 100%; 
            top: 140px; 
            left: 0px; 
            opacity: 0.75; 
            min-height: 486px; 
            background-color: rgba(18,18,18,1); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1481567566584-0 {
            width: 375px; 
            top: 291px; 
            left: 10px; 
            opacity: 0.65; 
            min-height: 1191px; 
            background-color: rgba(18,18,18,1); 
        }
        }
    